.logInView {
    background-color: #ffffff;
}
.logInFactionSelectBtn {
    position: inherit;
    width: 30%;
    left: 10%;
    height: 5%;
    top: 10%;
    border-width: 5px;
    font-size: 2vh;
}
.alreadySelectedFaction {
    left:60%;
}
.logInSelectedFactionBtn {
    background-color: #ffff00;

}
.clearAndReset {
    position: inherit;
    width: 50%;
    left: 25%;
    height: 5%;
    top: 92.5%;
    background-color: #ff0000;
    font-size: 2vh;
}
.startGame {
    position: inherit;
    width: 50%;
    left: 25%;
    height: 5%;
    top: 82.5%;
    background-color: #00ff00;
    font-size: 2vh;
}
